PORT=3001
NODE_ENV=development

# CORS
CORS_ORIGIN=http://localhost:3000

# Postgres connection
DB_POSTGRESDB_HOST=13.126.187.252
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_NAME=budget_tracker
DB_POSTGRESDB_USER=budget_tracker_app
DB_POSTGRESDB_PASSWORD=CHANGE_ME

# If your Postgres requires SSL (common on managed DBs), set true
DB_POSTGRESDB_SSL=false





